Repository Ollamy/Ollamy, pull requests merged in 2023-09, with the labels that each got.

#33 Feat: Mobile application connection page
  Makefile
  dockerfiles/base/build.sh
  packages/service-backend/src/main.ts
  packages/service-mobile-app/.env.example
  packages/service-mobile-app/.gitignore
  packages/service-mobile-app/app.json
  packages/service-mobile-app/assets/adaptive-icon.png
  packages/service-mobile-app/assets/favicon.png
  packages/service-mobile-app/assets/icon.png
  packages/service-mobile-app/assets/splash.png
  packages/service-mobile-app/babel.config.js
  packages/service-mobile-app/index.js
  packages/service-mobile-app/metro.config.js
  packages/service-mobile-app/package.json
  packages/service-mobile-app/src/App.tsx
  packages/service-mobile-app/src/client/index.ts
  packages/service-mobile-app/src/pages/authentication/Routes.tsx
  packages/service-mobile-app/src/pages/authentication/login/index.tsx
  packages/service-mobile-app/src/pages/authentication/register/index.tsx
  packages/service-mobile-app/tsconfig.json
  packages/util-design-system/package.json
  packages/util-utils/package.json
  yarn.lock
Labels: Archi, Improvement, Frontend

#51 add docker documentation in readme
  README.md
  dockerfiles/base/README.md
Labels: Doc, Archi, Improvement, Backend

#49 Data model for communication between student and formatter
  packages/service-backend/discussions_tests.js
  packages/service-backend/package.json
  packages/service-backend/prisma/migrations/20230913033104_discussion_model/migration.sql
  packages/service-backend/prisma/schema.prisma
  packages/service-backend/src/discussion/discussion.dto.ts
  packages/service-backend/src/discussion/discussion.service.ts
  packages/service-backend/src/discussion/discussion.spec.ts
  packages/service-backend/src/user/user.spec.ts
  yarn.lock
Labels: Archi, Backend
