Repository Ollamy/Ollamy, pull requests merged in 2024-05, with the labels that each got.

#127 Script to deploy test version of maker
  .github/workflows/deploy_maker.yml
  docker-compose.yml
  packages/service-maker/Dockerfile
Labels: Deploy-maker-test-version

#130 Update order to empty string
  packages/service-backend/src/lesson/lesson.controller.ts
  packages/service-backend/src/lesson/lesson.service.ts
  packages/service-backend/src/order/order.service.ts
  packages/service-backend/src/question/question.controller.ts
  packages/service-backend/src/question/question.dto.ts
  packages/service-backend/swagger.json
  packages/service-maker/src/services/api/out/apis/LessonApi.ts
  packages/service-maker/src/services/api/out/models/index.ts
Labels: bug, Back

#132 Edit empty strings for order and remove between when creating one
  packages/service-backend/src/order/order.service.ts
  packages/service-backend/src/question/question.dto.ts
  packages/service-backend/src/question/question.service.ts
  packages/service-backend/src/tests/data/question.data.ts
  packages/service-backend/swagger.json
  packages/service-maker/src/services/api/out/models/index.ts
Labels: bug, Back

#128 Oll 316 data transfer objects definition 2.0
  packages/service-backend/src/lesson/lesson.controller.ts
  packages/service-backend/src/lesson/lesson.dto.ts
  packages/service-backend/src/lesson/lesson.service.ts
  packages/service-backend/src/question/question.controller.ts
  packages/service-backend/src/question/question.dto.ts
  packages/service-backend/src/question/question.service.ts
  packages/service-backend/src/tests/data/lesson.data.ts
  packages/service-backend/src/tests/data/question.data.ts
  packages/service-backend/src/tests/data/user.data.ts
  packages/service-backend/src/tests/lesson.spec.ts
  packages/service-backend/src/user/user.controller.ts
  packages/service-backend/src/user/user.dto.ts
  packages/service-backend/src/user/user.service.ts
  packages/service-backend/swagger.json
  packages/service-maker/src/services/api/out/models/index.ts
Labels: Back

#134 Remove length firstname limit
  packages/service-backend/src/user/user.dto.ts
Labels: bug, Back

#137 Update create question data model
  packages/service-backend/src/question/question.controller.ts
  packages/service-backend/src/question/question.dto.ts
  packages/service-backend/src/question/question.service.ts
  packages/service-backend/src/tests/data/question.data.ts
  packages/service-backend/swagger.json
  packages/service-maker/src/services/api/out/models/index.ts
Labels: bug, Back

#140 Remove order that can be undefined
  packages/service-backend/src/question/question.service.ts
Labels: bug, Back

#141 i am stupid
  packages/service-backend/src/question/question.service.ts
Labels: Back

#146 Update course picture load
  packages/service-backend/src/course/course.service.ts
  packages/service-backend/src/question/question.service.ts
  packages/service-backend/src/tests/question.spec.ts
Labels: bug, Back

#147 Return undefined picture when doesn't exist
  packages/service-backend/src/picture/picture.service.ts
Labels: bug, Back

#129 Oll 336 mobile implement questions life system
  packages/service-backend/package.json
  packages/service-backend/src/course/course.service.ts
  packages/service-backend/src/lesson/lesson.service.ts
  packages/service-backend/src/question/question.service.ts
  packages/service-maker/src/pages/maker/hub/sideBarMenu/lessonList.tsx
  packages/service-mobile-app/assets/background.png
  packages/service-mobile-app/assets/icons/heart.png
  packages/service-mobile-app/assets/knowledge.png
  packages/service-mobile-app/src/components/ErrorPage/ErrorPage.tsx
  packages/service-mobile-app/src/components/HealthPoints/index.tsx
  packages/service-mobile-app/src/components/Modal/HealthModal/index.tsx
  packages/service-mobile-app/src/components/ProgressBar/ProgressBar.tsx
  packages/service-mobile-app/src/components/Stepper/DotStepper/DotStepper.tsx
  packages/service-mobile-app/src/components/layout/BottomBar/BottomBar.tsx
  packages/service-mobile-app/src/components/topBarContainer/index.tsx
  packages/service-mobile-app/src/hooks/useStepper.tsx
  packages/service-mobile-app/src/pages/authentication/login/index.tsx
  packages/service-mobile-app/src/pages/authentication/register/index.tsx
  packages/service-mobile-app/src/pages/courses/Routes.tsx
  packages/service-mobile-app/src/pages/courses/dashboard/SectionDashboard/SectionDashboard.tsx
  packages/service-mobile-app/src/pages/courses/dashboard/lesson/lecture/index.tsx
  packages/service-mobile-app/src/pages/courses/dashboard/lesson/quiz/index.tsx
  packages/service-mobile-app/src/pages/courses/dashboard/lesson/quiz/question/index.tsx
  packages/service-mobile-app/src/pages/courses/dashboard/lesson/quiz/result/index.tsx
  packages/service-mobile-app/src/pages/profile/ProfileStats.tsx
  packages/service-mobile-app/src/services/api.ts
  packages/service-mobile-app/src/services/course/course.dto.ts
  packages/service-mobile-app/src/services/course/course.ts
  packages/service-mobile-app/src/services/lesson/lesson.ts
  packages/service-mobile-app/src/services/question/question.dto.ts
  packages/service-mobile-app/src/services/question/question.ts
  packages/service-mobile-app/src/theme/button/button.theme.ts
  packages/service-mobile-app/src/theme/heading/heading.theme.ts
  packages/service-mobile-app/src/theme/input/input.theme.ts
  packages/service-mobile-app/src/theme/theme.ts
  packages/service-mobile-app/src/utils/timeToCountdown.ts
  yarn.lock
Labels: Improvement

#154 Update get lesson model
  packages/service-backend/src/lesson/lesson.controller.ts
  packages/service-backend/src/lesson/lesson.dto.ts
  packages/service-backend/src/lesson/lesson.service.ts
  packages/service-backend/src/tests/data/lesson.data.ts
  packages/service-backend/src/tests/lesson.spec.ts
  packages/service-backend/swagger.json
  packages/service-maker/src/services/api/out/apis/LessonApi.ts
Labels: bug, Back

#158 Create code to join course
  packages/service-backend/setup/database_schema_create.sql
  packages/service-backend/setup/database_setup.py
  packages/service-backend/setup/requirements.txt
  packages/service-backend/src/course/course.controller.ts
  packages/service-backend/src/course/course.dto.ts
  packages/service-backend/src/course/course.service.ts
  packages/service-backend/swagger.json
  packages/service-maker/src/services/api/out/apis/CourseApi.ts
  packages/service-maker/src/services/api/out/models/index.ts
Labels: enhancement, Back

#166 Demo populate db
  packages/service-backend/setup/database_setup.py
  packages/service-backend/setup/demo_dump.sql
  packages/service-backend/src/course/course.service.ts
Labels: bug, Back

#167 fix dump pwd
  packages/service-backend/setup/demo_dump.sql
  packages/service-backend/src/user/user.service.ts
Labels: Back
