Repository Ollamy/Ollamy, pull requests merged in 2024-01, with the labels that each got.

#86 Validate answer endpoint
  packages/service-backend/src/answer/answer.controller.ts
  packages/service-backend/src/question/question.controller.ts
  packages/service-backend/src/question/question.dto.ts
  packages/service-backend/src/question/question.service.ts
  packages/service-backend/swagger.json
  packages/service-maker/src/services/api/out/apis/QuestionApi.ts
  packages/service-maker/src/services/api/out/models/index.ts
Labels: Backend

#87 Add tests suite to validation question
  packages/service-backend/src/question/question.spec.ts
Labels: Backend

#84 Mobile - Lesson Quiz
  packages/service-backend/src/answer/answer.controller.ts
  packages/service-backend/src/main.ts
  packages/service-backend/src/question/question.controller.ts
  packages/service-backend/src/question/question.dto.ts
  packages/service-backend/src/question/question.service.ts
  packages/service-backend/swagger.json
  packages/service-maker/src/services/api/out/apis/QuestionApi.ts
  packages/service-maker/src/services/api/out/models/index.ts
  packages/service-mobile-app/assets/icons/badCheck.png
  packages/service-mobile-app/assets/icons/cup.png
  packages/service-mobile-app/assets/icons/fail.png
  packages/service-mobile-app/assets/icons/goodCheck.png
  packages/service-mobile-app/assets/icons/star.png
  packages/service-mobile-app/src/components/buttons/textButton/index.tsx
  packages/service-mobile-app/src/components/progressBar/index.tsx
  packages/service-mobile-app/src/components/topBarContainer/index.tsx
  packages/service-mobile-app/src/pages/course/index.tsx
  packages/service-mobile-app/src/pages/course/lecture/index.tsx
  packages/service-mobile-app/src/pages/course/quiz/index.tsx
  packages/service-mobile-app/src/pages/course/quiz/question/index.tsx
  packages/service-mobile-app/src/pages/course/quiz/result/index.tsx
  packages/service-mobile-app/src/services/api.ts
  packages/service-mobile-app/src/services/lesson.ts
  packages/service-mobile-app/src/services/question.ts
Labels: enhancement

#90 Fix backend
  packages/service-backend/src/course/course.service.ts
Labels: bug, Back

#83 Database setup for demo
  package.json
  packages/service-backend/setup/database_schema_create.sql
  packages/service-backend/setup/database_schema_delete.sql
  packages/service-backend/setup/database_setup.py
  packages/service-backend/setup/test_schema.sql
  packages/service-backend/src/course/course.controller.ts
  packages/service-backend/src/course/course.service.ts
  packages/service-backend/src/question/question.controller.ts
  packages/service-backend/src/question/question.service.ts
  yarn.lock
Labels: Improvement

#95 fix course last use
  packages/service-backend/prisma/schema.prisma
  packages/service-backend/src/course/course.controller.ts
  packages/service-backend/src/course/course.dto.ts
  packages/service-backend/src/course/course.service.ts
  packages/service-backend/src/course/course.spec.ts
  packages/service-backend/src/user/user.service.ts
  packages/service-maker/src/services/api/out/apis/CourseApi.ts
  packages/service-maker/src/services/api/out/models/index.ts
Labels: Back
