Repository Ollamy/Ollamy, pull requests merged in 2024-04, with the labels that each got.

#121 Add life system using cron every 30 minutes to add a new life
  packages/service-backend/package.json
  packages/service-backend/prisma/migrations/20240408171918_add_users_hp_in_user_to_course/migration.sql
  packages/service-backend/prisma/schema.prisma
  packages/service-backend/src/course/course.controller.ts
  packages/service-backend/src/course/course.dto.ts
  packages/service-backend/src/course/course.module.ts
  packages/service-backend/src/course/course.service.ts
  packages/service-backend/src/cron/cron.module.ts
  packages/service-backend/src/cron/cron.service.ts
  packages/service-backend/src/question/question.dto.ts
  packages/service-backend/src/question/question.service.ts
  packages/service-backend/src/tests/course.spec.ts
  packages/service-backend/src/tests/data/course.data.ts
  packages/service-backend/src/tests/question.spec.ts
  packages/service-backend/swagger.json
  packages/service-maker/src/services/api/out/apis/CourseApi.ts
  packages/service-maker/src/services/api/out/models/index.ts
  yarn.lock
Labels: Back

#118 Add badge Backend and Mobile
  packages/service-backend/prisma/migrations/20240410225903_add_badges/migration.sql
  packages/service-backend/prisma/schema.prisma
  packages/service-backend/public/badges/fifth_lesson.png
  packages/service-backend/public/badges/first_lesson.png
  packages/service-backend/public/badges/fourth_lesson.png
  packages/service-backend/public/badges/second_lesson.png
  packages/service-backend/public/badges/third_lesson.png
  packages/service-backend/src/app.module.ts
  packages/service-backend/src/badge/badge.controller.ts
  packages/service-backend/src/badge/badge.dto.ts
  packages/service-backend/src/badge/badge.module.ts
  packages/service-backend/src/badge/badge.service.ts
  packages/service-backend/src/tests/badge.spec.ts
  packages/service-backend/src/tests/data/badge.data.ts
  packages/service-backend/swagger.json
  packages/service-maker/src/services/api/out/.openapi-generator/FILES
  packages/service-maker/src/services/api/out/apis/BadgeApi.ts
  packages/service-maker/src/services/api/out/apis/index.ts
  packages/service-maker/src/services/api/out/models/index.ts
  packages/service-mobile-app/assets/icons/lock.png
  packages/service-mobile-app/assets/icons/tresor.png
  packages/service-mobile-app/src/App.tsx
  packages/service-mobile-app/src/components/BadgeListItem/BadgeListItem.tsx
  packages/service-mobile-app/src/components/SectionHeader/SectionHeader.tsx
  packages/service-mobile-app/src/components/VerticalProgressBar/VerticalProgressBar.tsx
  packages/service-mobile-app/src/components/layout/TopBar/TopBar.tsx
  packages/service-mobile-app/src/pages/badge/index.tsx
  packages/service-mobile-app/src/pages/badge/types.ts
  packages/service-mobile-app/src/services/api.ts
  packages/service-mobile-app/src/services/badge/badge.dto.ts
  packages/service-mobile-app/src/services/badge/badge.ts
Labels: enhancement, Back

#122 feat(ollamy): deploy
  .github/workflows/deploy.yml
  docker-compose.yml
Labels: Deploy-test-version
